/.wrangler/
/node_modules/
/.DS_Store
/.env
/.env.production
/.env.test
/dist/
/.build/
/.cache/
/.vercel/
/.netlify/
/.idea/
.vscode/
*.log
*.sqlite
*.sqlite3
*.env.local
*.env.development
*.env.test
*.env.production
coverage/
.tmp/
.next/
out/
